.swiper {
  width: 90vmin;
  height: 20em;
}

.swiperSlide {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slideImg {
  width: 100%;
}
