
.swiper {
  width: 70vmin;
  height: 20em;
  cursor: pointer;
}

.swiperSlide {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slideImg {
  width: 100%;
}

.title {
  margin: 30px;
  font-size:60px;
  cursor: pointer;

}
