
.swiper {

    width: 100%;
    height: 95vmin;
    min-height: 95vh;
    cursor: pointer;
}

.swiperSlide {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slideImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.linkDiv {
    position: absolute;
    color: red;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    text-decoration: none;
    font-size: 40px;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
}

.link:hover {
    text-decoration: none;
    color: white;
}

.title {
  margin: 30px;
  font-size:60px;
  cursor: pointer;
}
