@import "../../../styles/responsive.scss";


.container {
  display: flex;
  justify-content: center;
  margin: 2%;
  min-height: 100vh;

  @include tablet {
                
  }
}

.title{
  margin:20px;
  @include tablet {
      font-size:20px;      
  }
}


.linkRegister{
 text-decoration-color: var(--dark);
 margin:30px;
 font-size:20px;
 letter-spacing: 1px;
}

.formContainer{
  width: 70vh;
  height: auto;
  border-radius: 5px;
  background-color: rgb(33, 37, 41);
  color: white;
  padding: 2%;

  @include tablet {
    width: 45vh;        
  }
}

.login{
  margin-top:100px;
  
  @include tablet {
    margin-top:60px;
         
  }
}

.userError{
  margin: 5%;
  color: red;
}