.container {
  min-height: 100vh;
}

.menuHeader {
  display: flex;
  justify-content: center;
}

.orderButton {
  position: fixed;
  right: 50px;
}
.menu {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.productSelection {
  color: white;
}
