.container {
  min-height: 100vh;
  margin-bottom:100px;
}

.menuHeader {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.orderButton {
  position: fixed;
  right: 30px;
  top: 86px;
  z-index: 9999;
  box-shadow: 0 0px 10px black;
}
.menu {
  max-width: 70%;
  margin-top: 30px;
  display: flex;
  margin: 50px auto;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.productSelection {
  color: white;
}
