@import "../../../styles/responsive.scss";

.container {
  min-height: 100vh;
  margin-bottom:100px;
}

.menuHeader {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.orderButton {
  
  left: 40%;
  min-width: 110px;
  z-index: 99;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.39);

  @include mobile {
    
}
}
.menu {
  max-width: 70%;
  margin-top: 30px;
  display: flex;
  margin: 50px auto;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  transition: .4 ease-in-out;
}

.filterButton{
  right: 42%;
  
  @include mobile {
 

}
}

