@import url('https://use.fontawesome.com/releases/v5.15.1/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

a{
    text-decoration: none;
}

iframe{
        // height: 300px;
        // width: 500px;
        border-radius: 10px;
        border: 1px solid #ccc;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.315);
    }

.btn{
    border-radius: 10px;
}