// FONT IMPORTS
// POPPINS
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// GREAT VIBES
// @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
// // ANTON
// @import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
// // RALEWAY
// @import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
// // PACIFICO
// @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
// // SMOOCH
// @import url('https://fonts.googleapis.com/css2?family=Smooch&display=swap');

// BOOTSTRAP
@import '~bootstrap/scss/bootstrap';

@import '../styles/variables.scss';

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
// h1,
// h2,
// h3,
// h4 {
//     // font-family: 'Great Vibes', cursive;
//     // font-family: 'Anton', sans-serif;
//     // font-family: 'Raleway', sans-serif;
//     // font-family: 'Pacifico', cursive;
//     font-family: 'Smooch', cursive;
// }


// CALENDARIO DE RESERVAR

  .react-datepicker-popper {
      display: block;
      width: 100%;
  }