.container {
    min-height: 100vh;
  }

.title {
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 40px;
  }


.directions{
       
    .logos_metro, .logos_fgc {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;

        img{
            height: 30px;
        }

    }

        p{
            margin-top:-20px;
            font-weight: 500;
            font-size: 20px;
            letter-spacing: 2px;
        }
}



.mapContainer{
    position: absolute;
    margin-top:40px;
    left: 50%;
    transform: translate(-50%, 0%);
    
    iframe {
        height: 300px;
        width: 500px;
        border-radius: 10px;
        border: 1px solid #ccc;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.315);
    }
}