.container {
  display: flex;
  justify-content: center;
  margin: 2%;
  min-height: 100vh;
  }

  .title{
    margin:20px;
  }

  .subtitle{
    margin:20px;
  }

  .register{
  margin-top:100px;
  }

.formContainer{
  width: 70vh;
  height: auto;
  border-radius: 5px;
  background-color: rgb(33, 37, 41);
  color: white;
  padding: 2%;
}

.formlabe{
  color: red;
}
